*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

ul, li {
  list-style: none;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Lato", sans-serif;
}

.main {
  margin: 100px auto;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 477px;
  max-width: 636px;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.board {
  position: relative;
  margin: auto;
  width: 318px;
  height: 318px;
}
.board .cell {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.board .cell[data-x="0"][data-y="0"] {
  left: 3px;
  top: 3px;
}
.board .cell[data-x="0"][data-y="1"] {
  left: 3px;
  top: 109px;
}
.board .cell[data-x="0"][data-y="2"] {
  left: 3px;
  top: 215px;
}
.board .cell[data-x="1"][data-y="0"] {
  left: 109px;
  top: 3px;
}
.board .cell[data-x="1"][data-y="1"] {
  left: 109px;
  top: 109px;
}
.board .cell[data-x="1"][data-y="2"] {
  left: 109px;
  top: 215px;
}
.board .cell[data-x="2"][data-y="0"] {
  left: 215px;
  top: 3px;
}
.board .cell[data-x="2"][data-y="1"] {
  left: 215px;
  top: 109px;
}
.board .cell[data-x="2"][data-y="2"] {
  left: 215px;
  top: 215px;
}
.board .cell.filled {
  cursor: default;
}
.board .cell.empty {
  cursor: pointer;
}
.board .cell.empty:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  transition: 200ms;
}
.board .cell.x::after, .board .cell.o::after {
  display: inline;
  line-height: 100%;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.board .cell.x::after {
  content: "X";
}
.board .cell.o::after {
  content: "O";
}

.turn p {
  width: max-content;
  margin: 20px auto;
  font-size: 1.5rem;
  font-weight: 300;
}

.log-wrapper {
  width: 318px;
  margin: 50px auto;
  padding: 30px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  position: relative;
}
.log-wrapper h3 {
  width: max-content;
  font-weight: 300;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background-color: inherit;
}
.log-wrapper .log {
  width: 100%;
  max-height: 100px;
  overflow: scroll;
  font-size: 0.9rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}
.log-wrapper .log, .log-wrapper .log li {
  list-style-type: "- ";
}

.popup {
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-box {
  width: 400px;
  height: 200px;
  background-color: #ddd;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}
.popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  transform: translate(50%, -50%);
  padding: 0 3px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20%;
  color: #fff;
}
.popup-close:hover {
  cursor: pointer;
  border: 1px solid rgb(255, 0, 0);
  transition: 100ms;
}
.popup-message {
  width: max-content;
  padding: 20px;
  text-align: justify;
  font-size: 3rem;
  font-weight: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup-message p {
  width: fit-content;
}

/*# sourceMappingURL=main.css.map */
